.app {
  width: 100%;
  display: flex;
  justify-content: center;
}


.screen {
  width: 100%;
  max-width: 430px;
  height: 100vh;
  background: white;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header
 {
    width: 100%;
 }


.logo {
  width: auto;
  height: 105px;
}
